
<h3>Add a symbol to your watchlist</h3>

  <form class="form-inline">
    <div class="form-group">
      <label for="stockSymbol" style="margin-right:3px">Symbol</label>
      <input type="text" class="form-control" id="stockSymbol" placeholder="AAPL">
    </div>
    <button type="submit" class="btn btn-primary">Watch</button>
  </form>