
<h3>Enter a stock symbol to view</h3>

  <form class="form-inline" action="/stocks/watchlist_item" method="get">
    <div class="form-group">
      <label for="my_symbol" style="margin-right:3px">Symbol</label>
      <input type="text" class="form-control" name="my_symbol" placeholder="Ex: AAPL">
    </div>
    <button type="submit" class="btn btn-primary">View</button>
  </form>