<h1>Top Stocks to Watch</h1>
  <div class="table-responsive">
    <table class="table">
      <thead style="font-weight:bold">
        <tr>
          <td>Symbol</td>
          <td>Watchers</td>
        </tr>
      </thead>
      <tbody>
      <% @sorted_counts.each do |stock| %>
        <tr>
          <td><%=link_to "#{stock[0]}", "/stocks/stockprofile/#{stock[0]}" %> </td>
          <td><%= stock[1] %></td>
        </tr>
      <%end%>
      <tbody>
    </table>
    <%= link_to 'Back to watchlist', '/stocks' %>
    <br>
    <%= link_to 'Home', root_path %>
  </div>