<header class="masthead">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-black">TRADING ALERTS</h1>
                <h2 class="display-4 text-black">Create a stock price watchlist</h2>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 push-md-6">
                    <div class="p-5">
                        <%= image_tag("bull.jpg", class: "img-fluid rounded-circle")%>
                    </div>
                </div>
                <div class="col-md-6 pull-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Straight from a trusted source</h2>
                        <p>All quotes are delivered from the API of Yahoo Finance. You can rest easily knowing these up to date quotes are brought to you from the most reputable source for financial information on the internet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <%= image_tag("phone.jpg", class: "img-fluid rounded-circle")%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Alerts directly to you</h2>
                        <p>While on the go, you will be able to receive updates right to your phone or e-mail. Now you can stay in the loop wherever you are.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 push-md-6">
                    <div class="p-5">
                        <%= image_tag("wallst.jpg", class: "img-fluid rounded-circle")%>
                    </div>
                </div>
                <div class="col-md-6 pull-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Financial freedom!</h2>
                        <p>With our technology on your side, you will achieve greater results than those working in the financial district.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
